<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CDN Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Listar Tareas</title>
    <style>
        body{background: rgb(19,54,204);
            background: linear-gradient(13deg, rgba(19,54,204,1) 0%, rgba(9,9,121,1) 35%, rgba(35,47,62,1) 100%);
            height: 100vw;
        }
    </style>
</head>
<body class="">
    <div class="container mt-5 ">
        <div class="card border border-dark p-5 border-3">
            <h1 class="text-center card-header">LISTAR TAREAS</h1>
            <form action="/add" method="post" class="m-4">
                <legend class="fs-6">
                    Título tarea
                </legend>
                <div class="form-group">
                    <input type="text" name="title" id="title" class="form-control m-4">
                </div>
                <legend class="fs-6">
                    Descripción
                </legend>
                <div class="form-group">
                    <textarea name="description" id="" cols="50" rows="1" class="form-control m-4"
                        placeholder="add a description"></textarea>
                </div>
                <button class="btn btn-primary">Añadir tarea</button>
            </form>
            <hr>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Título</th>
                        <th>Descripción</th>
                        <th>Operación</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i=0; i< tasks.length ; i++ ){ %>
                        <tr>
                            <td>
                                <%= i + 1%>
                            </td>
                            <td>
                                <strong>
                                    <%= tasks[i].title%>
                                </strong>
                            </td>
                            <td>
                                <strong>
                                    <%= tasks[i].description%>
                                </strong>
                            </td>
                            <td>
                                <a class="<%= tasks[i].status ?'btn btn-success':'btn btn-dark'%> "
                                    href="/turn/<%=tasks[i]._id%>">Marcar</a>
                                <a id="delete" class="btn btn-danger ms-2" href="/delete/<%=tasks[i]._id%>">Borrar</a>
                            </td>
                        </tr>
                        <% }%>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        document.getElementById('title').focus();
        document.getElementById('delete').addEventListener('click', (e) => {
            let response = confirm('Estas seguro que lo quieres eliminar');
            if (!response) {
                e.preventDefault();
            }
        })
    </script>
</body>

</html>